.mid
{
  margin-top: 2%;
  font-size: 1em;
}
.margin{
  margin-left: 3%;
  margin-right: 3%;
}
.header{
  text-align: center;
  margin-top: 5%;
  border-radius:10px;
  border-color: #777777;
  border-style: groove;
  font-size: xxx-large;
}
.image
{
  margin-left: 3%;
  margin-right: 3%;
}
